<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>移动</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico/abc.ico}"></link>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    
    <!-- 头部 -->
    <div th:replace="common/pageCommon::header"></div>
    
    <!-- 内容主体区域 -->
    <div class="layui-body" style="text-align: center;">
    
    	<!-- 文件导航栏 -->
    	<div style="height: 0px;"></div><br><br>
    	<div style="text-align: center;">
        	<input th:value="${clientPath}" 
        		size="120px" style="height: 36px;font-size: 18px" class="clientPath" disabled/>
        </div>
    	
    	<!-- 创建或重命名文件的表单 -->
        <div size="80px" style="height:42px;font-size:18px; position:absolute;left:36%;top:40%;">
        	<form class="mmform">
        		<input type="hidden" th:value="${session?.user?.id}" name="userId">
        		<input type="hidden" th:value="${clientPath}" name="oldClientPath">
        		移到：<input type="text" name="newClientPath" style="width: 240px" class="newClientPath">
        		<input type="submit" style="width: 72px" class="submit" th:value="移动">
        	</form>
        </div>
	    <!-- css{overflow:auto;} html{设置一个div在底部} -->
        <div style="height: 150px;"></div>
    </div>

    <!-- 底部固定区域 -->
    <div th:replace="common/pageCommon::footer"></div>
    
</div>

<!-- layui JS模块 -->
<div th:replace="common/pageCommon::javascript"></div>

<!-- 分类页面 -->
<div th:replace="common/pageCommon::classify"></div>

<!-- 不使用layui的js文件！ -->
<script th:src="@{/js/jquery-1.8.3.js}"></script>
<script>
    //JavaScript代码区域
    $(function(){
		$(".submit").click(function(){
        	//判断选择路径是否正确
    		if($(".newClientPath").val().trim().indexOf(".")!=-1){
	    		alert("选择路径必须为文件夹！（文件名有 . 也会触发）");
				return false;
	    	}
    		$(".mmform").attr("action","[[@{/fileOperate/moveFile}]]").submit();
    	})
    });
    
</script>
</body>
</html>

