<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>4xx错误</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico/abc.ico}"></link>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    
    <!-- 头部 -->
    <div th:replace="common/pageCommon::header"></div>
    
    <!-- 内容主体区域 -->
    <div class="layui-body">
    	<div style="position:absolute;left:32%;top:32%;">
			<h1>status（状态码）:[[${status}]]</h1>
			<h2>当前网站错误，开发人员正在抢修中</h2>
		</div>
    </div>

    <!-- 底部固定区域 -->
    <div th:replace="common/pageCommon::footer"></div>
    
</div>

<!-- 分类页面 -->
<div th:replace="common/pageCommon::classify"></div>

<script th:src="@{/layui/layui.js}"></script>
<script>
	//JavaScript代码区域，必须引用element模块，否则部分功能失效
	layui.use('element', function(){
		var element = layui.element;
	});
</script>